@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    overflow-x: hidden;
    height: 200vh;
    width: 100%;
}
.wrapper{
    height: 100vh;
    position: relative;
}
.center-rocket{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}
.top-header,.hidden-top>h1{
    font-family: 'Sacramento', cursive;
    color: #8aabca;
}
.hidden-top{
    display: none;
}
.middle-header{
    color: #273755;
    font-family: 'Amatic SC', cursive;
    font-size: 75px;
} 
.bottom-header,.hidden-bottom>p{
    font-family: 'Lato', sans-serif;
    color: #85b0d8;
}
.hidden-bottom
{
    display: none;
}
.center-rocket>img{
    height: 320px;
    margin-right: 20px;
    transition: transform 1s;
}
.randCircle
{
    border-radius:50%;
    background-color: #8aabca57;
    position: absolute;
}
.one{
   
    left: 30%;
    top: 17%;
    width: 120px;
    height: 120px;
    animation: motion1 2s infinite;
}
.two{
    left: 60%;
    top: -10%;
    width: 200px;
    height: 200px;
    overflow-x: hidden;
    animation: motion2 2s infinite;
}
.three{
    width: 200px;
    height: 200px;
    animation: motion1 2s infinite;
}
.four{
    width: 150px;
    height: 150px;
    top:40%;
    right: 20%;
    animation: motion2 2s infinite;
}
.five{
     width: 150px;
    height: 150px;
    top:60%;
    left:15%;
    animation: motion1 2s infinite;
}
.leftcorner-top{
    border-radius:50%;
    background-color: #8aabca57;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -40px;
    left: -40px;
}
@keyframes motion1 {
    60%{transform: translateX(-15px);}
}
@keyframes motion2 {
    60%{transform: translateY(-15px);}
}
.arrow{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.arr{
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}
@keyframes example {
  0%   {transform: translateY(0);}
  60% {transform: translateY(-15px);}
}
.explore{
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Gluten', cursive;
    color:#c66334;
}
#midSect{
    height: 100vh;
    width: 100%;
    background-image: url("Sprinkle.svg");
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}
.imageContainer{
    background-color: #ededed;
    width: 70vw;
    height: 80vh;
    border:  10px solid #aebdcf;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
.imageContainer-img{

    width: 60vw;
    height: 70vh;
    opacity: 1;

}
.imageContainer-Left{
    margin-right: 10px;
}
.imageContainer-Right{
    margin-left: 10px;
}
.indicator{
    position: absolute;
    width: 70px;
    height: 10px;
    top:95%;
    left:calc(50% - 35px);
    display: flex;
}

.indicator-0,.indicator-1,.indicator-2{
    width: 20px;
    height: 5px;
    margin-right: 10px;
    border: 1px solid black;
    transition: background-color 2s;
    border-radius:  15px;
}
.card-container{
    position: absolute;
    height: 200vh;
    width: 100vw;
    right: -150%;
    z-index: 5;
    transition:right 1s;
    background-color: #55585c;
}
.mobile-content{
    display: none;
}
.mobile-card{
    display: none;
}
.cardHolder{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 650px;
    width: 600px;
    position: fixed;
}
.close{
    display: none;
    position: fixed;
    top:calc(50vh - 320px);
    right:calc(50vw - 290px);
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}
.close>h1{
    color: #1b315f;
}
.timer{
    color: white;
    flex: none;
}
@media only screen and (max-width:480px)  {
.wrapper{
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}
.top-header,.bottom-header{
    display: none;
}
.middle-header{
    margin-left: 20px;
    font-size: 45px;
} 
.center-rocket>img{
    height: 180px;
    margin-right: 0;
}
.hidden-top{
    width: 100%;
    display: flex;
    position: absolute;
    top: 30%;
    justify-content: center;
    align-items: center;
}
.hidden-bottom{
    display: flex;
    width: 100%;
    position: absolute;
    top: 65%;
    justify-content: center;
    align-items: center;
}
.three,.five{
    display: none;
}
.album{
    grid-template-columns: auto auto;
}
.grid-item>img{
    width: calc(50vw - 40px);
    height: 100%;
    /* object-fit:fill; */
    border-radius: 12px;
}
/* Mid Sect */
#midSect{
    
    justify-content: flex-start;
}

.imageContainer{
    width: 100vw;
    overflow: hidden;
    opacity: 1;
    border-bottom: none;
    overflow: hidden;
}
.imageContainer>img{

    width: 75vw;
    object-fit:contain;
}
/* .imageContainer-Left,.imageContainer-Right{
    display: none;
} */

.mobile-content{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 90vw);
    background-color: #1b315f;
}
.mobile-content>p{
    color: white;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 20px;
    display: flex;
    margin-left: 5px;
}

.mobile-content>h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
}
.gform{
    margin-bottom: 30px;
}
.gform>p,.gform>a{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    display: flex;
    margin-left: 5px
}
.gform>p
{
    animation: flick;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes flick{
    60%{transform: translateY(10px);
        opacity: 0;
        }
}
.card{
    height:100vh;
    width: 100vw;
    object-fit: contain;
    position: fixed;
}
.close{
right: 10px;
top: calc(50vh - 250px);

}
}
@media only screen and (min-width:500px) and (max-width:900px){
    .imageContainer{
    width: 100vw;
    opacity: 1;
    border-bottom: none;
    overflow: hidden;
}
.imageContainer>img{

    width: 75vw;
    object-fit:scale-down;
}
.mobile-content{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 90vw);
    background-color: #1b315f;
}
.mobile-content>p{
    color: white;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 20px;
    display: flex;
    margin-left: 5px;
}

.mobile-content>h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.gform{
    margin-bottom: 30px;
}
.gform>p,.gform>a{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    display: flex;
    margin-left: 5px;
}
}
@media only screen and (max-height:430px){
 .center-rocket>img{
    height:200px;
}  
.hidden-top{
    width: 100%;
    display: flex;
    position: absolute;
    top: 15%;
    left: 15%;
    justify-content: center;
    align-items: center;
}
.hidden-bottom{
    display: flex;
    width: 100%;
    position: absolute;
    top:70%;
    left: 15%;
    justify-content: center;
    align-items: center;
}
.three,.five{
    display: none;
} 
.top-header,.bottom-header{
    display: none;
}
.middle-header{
    margin-left: 20px;
    font-size: 45px;
} 
.explore{
    display: none;
}
.card{
    height:100vh;
    width: 100vw;
    object-fit: contain;
}
.close{
    right: 35%;
    top: 5vh;
}
   .imageContainer{
    width: 100vw;
    opacity: 1;
    border-bottom: none;
    border-top: none;
    overflow: hidden;
}
#midSect{
    overflow: hidden;
    justify-content: flex-start;
}
.mobile-content{
    flex-wrap: wrap;
}
}
